<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.octopusmall.common.global.mapper.OtpsDictMapper">
    <select id="getDictInfosById" resultType="com.octopusmall.common.global.entity.OtpsDict">
        select * from otps_dict a from a.dict_id = #{dictId}
    </select>
</mapper>